.game-footer {
  position: relative;
  height: 1.7rem;
  margin-top: 0.5rem;
}

.game-footer > * {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-footer > .description {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  font-weight: 400;
  font-size: 0.8rem;
}