.gameHeader {
  height: 2.5rem;
  display: flex;
  justify-content: space-between;

  margin-bottom: 1rem;
}

.gameHeader > * {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;

  background-color: var(--primary);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-primary);
  width: 7rem;
}

.gameHeader > .score {
  font-family: 'Fira Mono', monospace;
}

.gameHeader > .score > .icon {
  flex-grow: 0;
  width: 2rem;
  height: 100%;
  padding: 0.25em 0.2em;

  background-color: var(--secondary);
  border-radius: calc(var(--border-radius) - 0.2rem);
}

.gameHeader > .score > .value {
  text-align: center;
  flex-grow: 1;
}