.game-header {
  height: 2.5rem;
  display: flex;
  justify-content: space-between;

  margin-bottom: 1rem;
}

.game-header > * {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;

  background-color: var(--primary);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  width: 7rem;
}

.game-header > .score {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.05rem;
}

.game-header > .score > .icon {
  flex-grow: 0;
  width: 2rem;
  height: 100%;
  padding: 0.25em 0.2em;

  color: var(--accent);
  filter: var(--accent-glow);
}

.game-header > .score > .value {
  text-align: center;
  line-height: 2.5rem;
  flex-grow: 1;
}

.game-header > .score > .value > span {
  font-weight: 800;
}