.menuView {
  width: 100%;
  gap: 0.8rem;
}

.menuView .highlight {
  background-color: var(--accent);
  color: var(--text-invert);
}

.menuView > button,
.input {
  height: 2em;
}

.pause,
.howToPlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newGame {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
}

.newGame > button {
  grid-column: span 2;
}

.menuView .input {
  background-color: var(--primary);
  border-radius: var(--border-radius);
  border: none;

  text-align: center;
}

.howToPlay > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  list-style-type: none;
  padding: 0;
}

.howToPlay > ul > li {
  padding: 0.3rem;
  line-height: 1.1em;
  border-radius: var(--border-radius);

  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.howToPlay b {
  font-weight: 700;
  color: var(--accent);
}

.higlightDanger {
  color: var(--accent-2);
}