.menu {
  background-color: var(--primary);

  display: flex;
  align-items: flex-start;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.menuViewContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 14em;
  height: 100%;
  max-height: 23em;
  font-size: 1.1em;
  line-height: 1;
}