:root {
  --cell-hover: whitesmoke;
  --cell-active: black;
}

.board {
    display: flex;
    flex-direction: column;
}

.board.row {
    display: flex;
    flex-direction: row;
}

.board.cell {
    display: flex;
    flex: 1;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;

    transition: background .1s ease-out;

    background: var(--main);
    font-family: 'Overpass Mono', monospace;
}

.board.cell:hover {
    background: var(--cell-hover);
}

.board.cell:active {
    background: var(--cell-active);
}

.board.cell.revealed, .board.cell.revealed:hover {
    background-color: var(--secondary)
}