.boardContainer {
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.board {
  display: flex;
  flex-direction: column;

  background-color: var(--secondary);
  box-shadow: var(--shadow-secondary-inset);
}

.boardRow {
  display: flex;
  flex-direction: row;
}