.boardCell {
  position: relative;
  display: flex;
  flex: 1;
  aspect-ratio: 1;

  font-family: 'Overpass Mono', monospace;
}

.boardCell > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.boardCell > .upper {
  background-color: var(--primary);
  transition: background-color .1s ease-out;
  z-index: 1;
}

.boardCell > .upper:hover {
  background-color: var(--on-hover);
}

.boardCell > .upper:active {
  background-color: var(--on-active);
}

.boardCell > .shadow {
  box-shadow: var(--shadow-secondary);
}

.boardCell > .lower, .upper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boardCell > svg {
  padding: 0.45em;
}

.boardCell > svg.with-mine {
  color: var(--accent);
}

.boardCell > .top-left {
  border-top-left-radius: var(--border-radius);
}

.boardCell > .top-right {
  border-top-right-radius: var(--border-radius);
}

.boardCell > .bottom-left {
  border-bottom-left-radius: var(--border-radius);
}

.boardCell > .bottom-right {
  border-bottom-right-radius: var(--border-radius);
}
