.board-cell {
  position: relative;
  display: flex;
  flex: 1;
  aspect-ratio: 1;

  font-family: 'Barlow', monospace;
  font-weight: 700;
}

.board-cell > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.board-cell > .upper {
  background-color: var(--primary);
  transition: background-color .1s ease-out;
  z-index: 1;
}

.board-cell > .upper:hover {
  background-color: var(--on-hover);
}

.board-cell > .upper:active {
  background-color: var(--on-active);
}

.board-cell > .shadow {
  box-shadow: var(--shadow);
}

.board-cell > .lower, .upper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-cell > svg {
  padding: 0.45em;
}

.board-cell > svg.with-mine {
  color: var(--accent-2);
}

.board-cell > .top-left {
  border-top-left-radius: 0.2em;
}

.board-cell > .top-right {
  border-top-right-radius: 0.2em;
}

.board-cell > .bottom-left {
  border-bottom-left-radius: 0.2em;
}

.board-cell > .bottom-right {
  border-bottom-right-radius: 0.2em;
}
