:root {
  --header-height: 3em;
}

.game.container {
  margin: 1em;
}

.game .btn {
  transition: background 0.1s ease-out;

	background: var(--primary);
	border: none;
  border-radius: var(--border-radius);
  box-shadow: 0 0.2em 0 var(--accent-1);
}

.game .btn:hover {
  top: 5px;
  transition: background 0.1s ease-in;
  background: white;
}

.game.header {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;

  margin-bottom: 0.5em;
}

.game.header > .score {
  width: 7em;
  display: flex;
  align-items: center;
  padding: 0.3em;

  background-color: var(--primary);
  border-radius: var(--border-radius);
}

.game.score > .icon {
  flex-grow: 0;
  width: 2.5em;
  height: 100%;
  padding: 0 0.4em;

  background-color: var(--secondary);
  color: var(--accent-3);
  border-radius: calc(var(--border-radius) - 0.2em);
}

.game.score > .value {
  text-align: center;
  flex-grow: 1;
  font-size: 1.1em;
}

.game.board {
  position: relative;
}