.focusable, .focusable-inner {
  transition-property: background-color, box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: ease;
  
  box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
}

.focusable:hover, .focusable-inner:hover {
  background-color: var(--on-hover);
  box-shadow: 0 3px 7px rgba(0, 0, 0, .4);
}

.focusable:active, .focusable:focus, .focusable-inner:focus-within {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .6);
}

button {
  transition-property: background-color, box-shadow, transform;
  
  position: relative;
	background-color: var(--primary);
  border: none;
  border-radius: var(--border-radius);
}

button:hover {
  transform: translateY(-2px);
}

button:active {
  transform: translateY(1px);
  background-color: var(--on-active);
}

.game {
  margin: 0 auto;
  padding: 0.7em;
  max-width: 90vh;
}