.boardOverlay {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.menu {
  background-color: var(--primary);
}

.menuView-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  width: 14em;
  height: 100%;
  max-height: 23em;
  font-size: 1.1em;
  line-height: 1;
}

.menuView {
  width: 100%;
  gap: 0.8rem;
}

.menuView .highlight {
  background-color: var(--accent);
  color: var(--text-invert);
}

.menuView > button, .input {
  height: 2em;
}

.menuView.pause, .menuView.howToPlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menuView.newGame {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
}

.menuView.newGame > button {
  grid-column: span 2;
}

.menuView .input {
  background-color: var(--primary);
  border-radius: var(--border-radius);
  border: none;

  text-align: center;
}

.menuView.howToPlay > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  list-style-type: none;
  padding: 0;
}

.menuView.howToPlay > ul > li { 
  padding: 0.6rem;
  border-radius: var(--border-radius);

  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.menuView.howToPlay em {
  font-weight: 700;
  color: var(--accent);
}