.board-overlay {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.menu {
  background-color: var(--primary);
}

.menu-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 14em;
  height: 100%;
  max-height: 23em;
  font-size: 1.1em;
  line-height: 1;
}

.menu-view {
  width: 100%;
  gap: 0.8rem;
}

.menu-view .highlight {
  background-color: var(--accent);
  color: var(--text-invert);
}

.menu-view > button,
.input {
  height: 2em;
}

.menu-view.pause,
.menu-view.how-to-play {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-view.new-game {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
}

.menu-view.new-game > button {
  grid-column: span 2;
}

.menu-view .input {
  background-color: var(--primary);
  border-radius: var(--border-radius);
  border: none;

  text-align: center;
}

.menu-view.how-to-play > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  list-style-type: none;
  padding: 0;
}

.menu-view.how-to-play > ul > li {
  padding: 0.3rem;
  line-height: 1.1em;
  border-radius: var(--border-radius);

  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.menu-view.how-to-play b {
  font-weight: 700;
  color: var(--accent);
}

.menu-view.how-to-play b.accent-2 {
  color: var(--accent-2);
}
