.clickable {
  transition-property: box-shadow, transform;
  transition-duration: 100ms;
  
  background: var(--bg-primary-convex);
  box-shadow: var(--shadow-primary);
  border: none;
  border-radius: var(--border-radius);
}

.clickable:hover {
  background: var(--primary);
  box-shadow: var(--shadow-primary-large);
}

.clickable:active {
  background: var(--bg-primary-concave);
  box-shadow: var(--shadow-primary-inset);
}

.game {
  margin: 0 auto;
  padding: 0.7em;
  max-width: 90vh;
}