.board {
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: var(--secondary);
  box-shadow: var(--shadow-inset);
}

.boardRow {
  display: flex;
  flex-direction: row;
}

.boardOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}