.num-input {
  position: relative;
  overflow: hidden;
}

.num-input > input::-webkit-outer-spin-button,
.num-input > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.num-input > input {
  width: 100%;
  height: 100%;

  text-align: center;
  background: transparent;
  border: none;

  -moz-appearance: textfield;
}

.num-input > input:focus {
  outline: none;
}

.num-input > button {
  all: unset;

  position: absolute;
  top: -0.3em;
  bottom: -0.3em;
  aspect-ratio: 1;
  font-size: 0.7em;

  border-radius: 50%;
}

.num-input > .sub {
  left: -0.4em;
}

.num-input > .add {
  right: -0.4em;
}
