.clickable {
  position: relative;
  transition-property: box-shadow, border;
  transition-duration: 100ms;

  background: var(--primary);
  border: none;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

.clickable:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition-property: opacity;
  transition-duration: 100ms;

  border-radius: var(--border-radius);
  box-shadow: inset 2px 2px 2px white, inset -2px -2px 2px black;
  background: linear-gradient(170deg, #fff, #000);
  mix-blend-mode: overlay;
  opacity: 0.5;

  pointer-events: none;
}

.clickable:hover {
  background: var(--primary);
}

.clickable:hover::after {
  opacity: 0;
}

.clickable:active {
  box-shadow: none;
}

.clickable:active::after {
  opacity: 0.5;
  box-shadow: inset 2px 2px 2px black, inset -2px -2px 2px white;
  background: linear-gradient(170deg, #000, #fff);
}